html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .main_container {
  flex: 1;
  display: flex;
  flex-direction: column;
} */


.content {
  flex: 1;
  margin-left: 30px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.wrapper.active .content {
  margin-left: 80px;
}

.top_navbar {
  background: #91C8E4;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 1;
}

.top_navbar .menu {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo {
  color: #0f3249;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* .main_container .container {
  margin-top: 50px;
  padding: 30px;
} */

#footer { 
  position: relative; 
  z-index: 3; 
  background-color: #91C8E4;
  padding: 20px;
  color: white;
  text-align: center;
  bottom: 0;
}

#footer .contact-info-footer {
  background-color: #91C8E4;
  height: 20%;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .wrapper.active .content {
    margin-left: none;
  }
  
}

@media screen and (max-width: 1200px) {
  .wrapper.active .content {
    margin-left: 80px;
  }
  
}