.chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .chatbox-icon {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .chatbox {
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index:999;
  }
  
  .chatbox-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chatbox-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    z-index: 999;
  }
  
  .chatbox-footer {
    display: flex;
    padding: 10px;
  }
  
  .chatbox-footer input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
  }
  
  .chatbox-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }


  .chatbox-header button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chatbox-header button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

  