@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html {
    scroll-behavior: smooth;
}
/* Add this CSS for the navigation menu */
#navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top of the page */
    width: 100%; /* Make it span the whole width */
    background-color: #333; /* Background color */
    padding: 10px; /* Add padding */
    z-index: 1000; /* Ensure it stays on top */
}

/* Optional: Style for your buttons */
.nav-button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    background-color: #0050b3;
    margin: 5px;
}

.nav-button:hover {
    background-color: #024493;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.aboutus {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

.aboutus header, .aboutus footer, .aboutus .section {
    background-color: #155baf;
    padding: 20px; /* Generous padding for separation */
    margin: 20px 0; /* Space between sections */
    border-radius: 8px; /* Rounded corners */
    color: white;
}

.aboutus .section {
    background-color: rgba(21, 91, 175, 0.15); /* Light blue background */
    color: black;
}
.aboutus table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #e0efff;
}

.aboutus table,
th,
td {
    border: 1px solid #ffffff;
}

.aboutus th,
td {
    padding: 15px;
    text-align: center;
}

.aboutus th {
    background-color: #0050b3;
    color: white;
}
.aboutus td{
    color: #000;
}

.aboutus header > h1, .aboutus header > h1:hover {
    color: white;
    text-decoration: none;
    cursor: auto;
}
.aboutus h1 {
    cursor: pointer;
    color: #0050b3; /* Change color for clarity */
  }

.aboutus h1:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}

.aboutus h2 {
    color: #0050b3;
}

.aboutus .subsection{
    color: black;
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.51); /* Semi-transparent background */
    border-radius: 8px; /* Rounded corners */
}

blockquote {
    border-left: 2px solid #ffffff;
    padding-left: 10px;
    margin: 10px 0;
}
